* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
}
header {
 position: sticky;
  top: 0;
  background-color: #0b0f1a;
  padding: 0 50px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  width: 180px;
  height: auto;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
}

nav ul li {
  display: inline-block;
}

nav li a {
  color: #cbd5e1;
  font-size: 17px;
  padding: 10px 18px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
  display: block;
  font-weight: 500;
  letter-spacing: 0.5px;
}

nav li a:hover {
  color: #e11d48;
  transform: translateY(-2px);
}


.about-section {
    max-width: 900px;
    margin: auto;
    padding: 60px 20px;
}

.about-section h1 {
    text-align: center;
    color: #E11D48;
    margin-bottom: 20px;
}

.intro {
    text-align: center;
    color: #9CA3AF;
    margin-bottom: 40px;
    font-size: 18px;
}

.card {
    background-color: #141a32;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 25px;
    border-left: 4px solid #E11D48;
}

.card h2 {
    margin-top: 0;
    color: #F8FAFC;
}

.card p,
.card li {
    color: #9CA3AF;
    line-height: 1.6;
}

.card ul {
    padding-left: 20px;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 28px;
    background-color: #E11D48;
    color: #F8FAFC;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s, box-shadow 0.3s;
}

.cta-button:hover {
    background-color: #BE123C;
    box-shadow: 0 0 10px #38BDF8;
}





 footer {
  background-color: #0b0f1a;
  color: #cbd5e1;
  padding: 50px 0 20px;
  border-top: 1px solid #1e293b;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  margin-bottom: 40px;
  padding: 0 50px;
}

.footer-section h3 {
  color: #e11d48;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 12px;
}

.footer-section ul li a {
  color: #cbd5e1;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 15px;
}

.footer-section ul li a:hover {
  color: #e11d48;
  padding-left: 5px;
}

.footer-section p {
  color: #94a3b8;
  line-height: 1.6;
  font-size: 18px;
}

.footer-bottom {
  text-align: center;
  padding: 30px 50px 0;
  border-top: 1px solid #1e293b;
  color: #64748b;
  font-size: 14px;
}

.footer-bottom p {
  margin-bottom: 10px;
}
