* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
}

header {
  position: sticky;
  top: 0;
  background-color: #0b0f1a;
  padding: 0 50px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  width: 180px;
  height: auto;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
}

nav ul li {
  display: inline-block;
}

nav li a {
  color: #cbd5e1;
  font-size: 17px;
  padding: 10px 18px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
  display: block;
  font-weight: 500;
  letter-spacing: 0.5px;
}

nav li a:hover {
  color: #e11d48;
  transform: translateY(-2px);
}
/* header end */

.page-container {
  padding: 40px 6%;
}

.page-title {
  font-size: 32px;
  margin-bottom: 25px;
  color: #ff2c55;
}
.page-title:hover {
  text-shadow: 0 4px 20px rgba(255, 44, 85, 0.6);
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(160px, 1fr));
  gap: 20px;
}

.card {
  background: #141a32;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
}

.card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.card-content {
  padding: 12px;
}

.card-content h4 {
  font-size: 16px;
  margin-bottom: 6px;
}

.card-content p {
  font-size: 13px;
  opacity: 0.8;
}
.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(225, 29, 72, 0.4);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #e11d48;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .page-title {
    font-size: 24px;
  }

  .card img {
    height: 200px;
  }
}

footer {
  background-color: #0b0f1a;
  color: #cbd5e1;
  padding: 50px 50px 20px;
  border-top: 1px solid #1e293b;
  position: relative;
  width: 100%;
  bottom: 0;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  margin-bottom: 40px;
}

.footer-section h3 {
  color: #e11d48;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 12px;
}

.footer-section ul li a {
  color: #cbd5e1;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 15px;
}

.footer-section ul li a:hover {
  color: #e11d48;
  padding-left: 5px;
}

.footer-section p {
  color: #94a3b8;
  line-height: 1.6;
  font-size: 18px;
}

.footer-bottom {
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid #1e293b;
  color: #64748b;
  font-size: 14px;
}

.footer-bottom p {
  margin-bottom: 10px;
}
